:root{
  --borderColour: #AAFFFF;
}
body{
  text-align: center;
  width: 75%;
  margin: auto;
  background-color: #0f1b24;
  color: #FFF;
  list-style-position: inside;
}
ul{
  text-align: left;
  margin:auto;
  width: 50%;
}
li ul{
  width: 100%;
}
code{
  background-color: rgba(0,0,0,0.33);
  padding: 4px;
  border-radius: 2px;
}
h1{
  padding: 10px;
  border: 4px double var(--borderColour);
}
h2{
  padding: 10px;
  border: 2px solid var(--borderColour);
}
h3{
  padding: 10px;
  border-bottom: 2px solid var(--borderColour);
}
h4{
  padding: 10px;
  border-bottom: 2px dashed var(--borderColour);
}
