:root{
  --borderColour: #100;
h1{
  border-bottom: 3px double var(--borderColour);
}
h2{
  border-bottom: 3px solid var(--borderColour);
}
h3{
  border-bottom: 2px solid var(--borderColour);
}
h4{
  border-bottom: 2px dashed var(--borderColour);
}
