:root{
  --borderColour: #DAC;
}
p{
  font-size: 17px;
}
body{
  text-align: center;
  width: 75%;
  margin: auto;
  background-color: #190f26;
  color: #FFF;
  list-style-position: inside;
}
ul{
  font-size: 17px;
  text-align: left;
  margin:auto;
  width: 50%;
}
li ul{
  width: 100%;
}
code{
  background-color: rgba(0,0,0,0.33);
  padding: 4px;
  border-radius: 2px;
}
h1{
  border: 4px double var(--borderColour);
  padding:5px;
}
h1 a{
  font-size:20px;
}
h2{
  border: 2px solid var(--borderColour);
  padding:5px;
}
h3{
  border-bottom: 2px solid var(--borderColour);
  padding:5px;
}
h4{
  border-bottom: 2px dashed var(--borderColour);
  padding:5px;
}
