:root{
  --borderColour: #DAC;
}
.download{
  text-align: center;
  padding: 0px;
}
.logo{
  font-family: monospace;
  color:#6f35be;
}
p{
  font-size: 17px;
}
body{
  font-family: helvetica;
  text-align: center;
  width: 75%;
  margin: auto;
  background-color: #190f26;
  color: #FFF;
  list-style-position: inside;
  padding: 10px;
}
ul{
  font-size: 17px;
  text-align: left;
  margin:auto;
  width: 50%;
}
li{
    padding: 3px 0 3px 0;
}
li ul{
  width: 100%;
}
code{
  background-color: rgba(0,0,0,0.33);
  padding: 4px;
  border-radius: 2px;
}
h1{
  border: 4px double var(--borderColour);
  padding-bottom: 10px;
}
h1 a{
  font-size:20px;
}
h2{
  border: 2px solid var(--borderColour);
  padding-bottom: 10px;
}
h3{
  border-bottom: 2px solid var(--borderColour);
  padding-bottom: 10px;
}
h4{
  border-bottom: 2px dashed var(--borderColour);
  padding-bottom: 10px;
}
