:root{
  --borderColour: #100;
}
body{
  text-align: center;
  margin: auto;
}
h1{
  border-bottom: 4px double var(--borderColour);
}
h2{
  border-bottom: 3px solid var(--borderColour);
}
h3{
  border-bottom: 2px solid var(--borderColour);
}
h4{
  border-bottom: 2px dashed var(--borderColour);
}
