:root{
  --borderColour: #AAFFFF;
}
body{
  text-align: center;
  width: 75%;
  margin: auto;
  background-color: #0f1b24;
  color: #FFF;
  list-style-position: inside;
}
ul{
  text-align: left;
  margin:auto;
  width: 50%;
}
ul > ul{
  width: 100%;
}
code{
  background-color: var(--borderColour);
  color: #000;
}
h1{
  border-bottom: 4px double var(--borderColour);
}
h2{
  border-bottom: 3px solid var(--borderColour);
}
h3{
  border-bottom: 2px solid var(--borderColour);
}
h4{
  border-bottom: 2px dashed var(--borderColour);
}
